.profilepage{
    height: 250px;
    width: 300px;
    margin: 150px auto;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 20px;
    flex-direction: column;
    border-radius: 5px;

}
.profilepage input, label, button{
    margin-bottom: 20px;
}
.profilepage input{
    height: 30px;
    border-radius: 5px;
    width: 250px;
    border: 0;
    padding-left: 10px;
    outline: none;
}
 .profilepage button{
    width: 250px;
    border: 0;
    outline: none;
    height: 30px;
    border-radius: 5px;
    color: black;
 }
